@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: #faf8f5;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 27px;
}

/*Header og navbar*/
header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(252, 234, 204);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 234, 204);
    padding: 15px;
    width: 100%;
}

#header-slutt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

#search-bar {
    padding: 10px;
}

#header-start {
    padding-left: 15px;
    width: fit-content;
}
/*Header og navbar - SLUTT*/


/*Populære kategorier*/
.poppis {
    margin-top: 20px;
}

.poppis_img {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sirkel_img>img,
.sirkel_img>p {
    width: 140px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}

#gray:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
}
/*Populære kategorier slutt*/

.login {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

/*Tilfeldig middag*/
.rulett {
    background-color: bisque;
    height: 500px;
    padding: 20px;
}

.rulett_p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    margin: auto;
}

.rulett_p>p {
    width: 366px;
    font-size: 21px;
}

.generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.generator>div {
    height: 300px;
    width: 327px;
    border-radius: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.generator>button {
    width: 189px;
    height: 27px;
    margin: auto;
    background-color: pink;
    border: pink;
    border-radius: 15px;
    font-size: 20px;
}

.generator button:hover {
    background-color: hotpink;
    transition: 1s;
    color: white;
}
/*Tilfeldig middag - SLUTT*/

/*Footer*/
footer {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lemonchiffon;
    padding-bottom: 40px;
}

footer .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

footer .grid>div {
    border: 2px solid rgb(246, 144, 193);
    background-color: rgb(253, 251, 238);
    border-radius: 15px;
    padding: 10px;
}

footer>h1 {
    font-size: 30px;
    padding: 17px;
}

#tilf_bilder>img {
    height: 300px;
    width: 327px;
    border-radius: 29px;
}
/*Footer - SLUTT*/

/*Start forside*/
.start {
    display: flex;
    min-height: 100vh;
    padding: 1px;
    gap: 0;
}

.start article {
    position: relative;
    overflow: hidden;
}

.one {
    width: 68%;
}

.two {
    width: 32%;
}

.start article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info>h1 {
    width: 100%;
    color: white;
}

.one img {
    border-radius: 20px 0 0 20px;
}

.topRight img {
    border-radius: 0 20px 0 0;
}

.bottomRight img {
    border-radius: 0 0 20px 0;
}
/*Start forside - SLUTT*/

/*Høytider - side */
.hoy_grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 16px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hoy_grid>div {
    height: 200px;
}

.hoytid {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 200px;
    border: black solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoytid h1 {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
}

.celebrate article {
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

article>p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

.hoytid_img {
    display: flex;
    justify-content: space-between;
    height: 123px;
    width: 544px;
    gap: 16px;
    margin: auto;
}

.hoytid_img>img {
    width: 30%;
}

@media (max-width: 1180px) {
    .start {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .one,
    .two {
        width: 100%;
    }

    .two {
        flex-wrap: wrap;
    }

    .start img {
        width: 50%;
        /* to ved siden av hverandre */
    }

    .one img,
    .two img {
        border-radius: 0;
    }
    /*#header-slutt {
        display: none;
    }*/

    /*nav {
        align-items: center;
        justify-content: center;

    }*/
}

@media (max-width: 980px) {
    .hoy_grid {
        grid-template-columns: repeat(2, 250px);
    }

    article>p {
        padding: 20px;
    }

}

@media (max-width: 700px) {
    .login {
        display: none;
    }
}

@media (max-width: 600px) {
    .start {
        flex-direction: column;
        align-items: center;
        background-color: lemonchiffon;
    }

    .one,
    .two,
    .two>article {
        width: 70%;
        flex-direction: column;
    }

    .two {
        flex-wrap: nowrap;
    }

    .two>article {
        width: 100%;
    }

    .rulett_p>p {
        display: none;
    }

    #header-slutt {
        display: none;
    }

    nav {
        font-size: 16px;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }
}

@media (max-width: 630px) {
    footer .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 530px) {
    .hoy_grid {
        grid-template-columns: repeat(1, 300px)
    }

    .hoytid_img {
        flex-direction: column;
        height: auto;
        width: 200px;
    }

    .hoytid_img>img {
        width: 100%;
    }
}