@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #faf8f5;
}
a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(252, 234, 204);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(252, 234, 204) ;
    padding: 15px;
    width: 100%;
}

#header-slutt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

#search-bar {
    padding: 10px;
}

#header-start {
    padding-left: 15px;
    width: fit-content;
}


h1{
   text-align: center;
   font-family: "Noto Sans", sans-serif;
   font-size: 27px;
}

.poppis{
    margin-top: 20px;
    height: 300px;
}

.poppis_img{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sirkel_img > img, 
.sirkel_img > p{
    width: 140px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.rulett{
    background-color: bisque;
    height: 500px;
    padding: 20px;
}

.rulett_p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    width: 900px;
    margin: auto;
}

.rulett_p > p {
    width: 366px;
    margin-left: 40px;
    font-size: 21px;
}

.generator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.generator > div {
    height: 300px;
    width: 327px;
    border-radius: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.generator > button{
    width: 189px;
    height: 27px;
    margin: auto;
    background-color: pink;
    border: pink;
    border-radius: 15px;
    font-size: 20px;
}

footer{
    text-align: center;
    width: 864px;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 288px);
    gap: 10px;
}

.grid > div{
    height: 300px;
    border: 2px solid black;
    padding: 10px;
}

footer > h1{
    font-size: 30px;
    padding: 17px;
}

#tilf_bilder > img{
    height: 300px;
    width: 327px;
    border-radius: 29px;
}

/*Start forside*/

.start {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;
    min-height: 100vh;
    padding: 30px;
    border: 1px solid black;
}

.start > article {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    overflow: hidden;
}

.one {
    grid-row: span 9;
    grid-column: span 112;
}

.one img {
        height: 100%;
        width: 100%;
        object-fit: cover;
}

.two {
    grid-row: span 3;
    grid-column: span 4;
}

.three {
    grid-column: span 3;
    grid-row: 5 / span 4; 
}

.four {
    grid-column: span 3;
    grid-row: 9 / span 4; 
}

.two img, .three img, .four img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.info>h1{
    width: 100%;
}
.info{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 80px;
    height: 20%;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 20px;
    align-items: center;
    gap: 40px;
    transition: height 0.3s ease, background-color 0.3s ease;
}
